<div class="header">
    <img class="eat-logo" src="/images/eat it log.png" alt="">
    <div class="cartandham">
        <div class="cartncount">
            <p class="cart-count"><%= length %></p>
            <img src="/images/cart.png" alt="CART" class="cart-icon">
        </div>
    </div>
        <img class="ham" src="/images/hamburger.png" alt="HEEY">
</div>
<div class="hamopen">
    <div class="ham-off">x</div>
    <ul class="nav-links">
        <li>Home</li>
        <li>Foods</li>
        <li>About</li>
        <li>Contact</li>
        <li>Logout</li>
    </ul>
</div>

