<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('header.ejs') %>
    <!-- THE HAM OPENNING DIV IS BELOW THIS COMMENT -->
    <div class="container">
        <p class="center-text">Hey !</p> 
        <p class="center-text2">EAT IT</p>
        <p class="center">ORDER NOW</p>
    </div>
    <div class="recent-order-section">
        <p class="section-tag">Recent Orders</p>
        <div id="food" class="recent-foods">
            <div class="foods">
                <img class="food-image" src="/images/2.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            <div class="foods">
                <img class="food-image" src="/images/1.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            <div class="foods">
                <img class="food-image" src="/images/3.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            <div class="foods">
                <img class="food-image" src="/images/2.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            <div class="foods">
                <img class="food-image" src="/images/1.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            <div class="foods">
                <img class="food-image" src="/images/3.jpg" alt="">
                <div class="food-name-price">
                    <p class="food-name">SPAG BELIT</p>
                    <p class="food-price">$10</p>
                </div>
                <button class="addtocart">ADD TO CART</button>
            </div>
            
        </div>
    </div>
    <div>
        <button class="more" ><a href="/foods">SEE MORE</a></button>
    </div>

</body>
<script src="../JS/main.js"></script>
</html>

